# banquito-switch-routing-service environment example
SERVER_PORT=8082

DB_URL=jdbc:postgresql://postgres:5432/SWITCH_ENRUTAMIENTO_DB
DB_USERNAME=postgres
DB_PASSWORD=postgres

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

RABBIT_EXCHANGE_BATCH=switch.batch.exchange
RABBIT_EXCHANGE_ROUTING=switch.routing.exchange
RABBIT_QUEUE_ROUTING_PAYMENT_LINES=switch.routing.payment-lines.queue
RABBIT_QUEUE_SETTLEMENT_ON_US=switch.settlement.on-us.queue
RABBIT_QUEUE_CLEARING_OFF_US=switch.clearing.off-us.queue
RABBIT_QUEUE_ROUTING_REJECTED=switch.routing.rejected.queue
RABBIT_ROUTING_KEY_PAYMENT_LINE_REQUESTED=payment.line.requested
RABBIT_ROUTING_KEY_ROUTED_ON_US=payment.line.routed.on-us
RABBIT_ROUTING_KEY_ROUTED_OFF_US=payment.line.routed.off-us
RABBIT_ROUTING_KEY_LINE_REJECTED=payment.line.rejected
